html, 
body {
    height: 100%;
}
.drum-pad-style{
    background-color:cadetblue;
    height: 100px;
    width: 100px;
    padding: 36px;
    box-shadow: 5px 5px #888888;
}

.drum-pad-shadow-desable{
    box-shadow: none;
    background-color: yellowgreen;
}